@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
    url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
    url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: Roboto Condensed;
    margin: 0;
}
.container{
    padding:0 21% 0;
}
/*параметры и цвет номера телефона*/
.header-phone p{
    font-family: 'roboto_condensedregular';
    color: rgba(62, 13, 65, 1);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}
.header-logo{
    padding-top: 5px;
    max-width: 100%;
    max-height: 100%;
}
.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 15%;
}
/*список меню*/
.menu__list{
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
}
/*ссылки меню*/
.list-item a {
    text-decoration: none;
    color: #4F4F4F;
    padding: 0 18px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}
/*блок с фото */
.header__picture {
    overflow: hidden;
    position: relative;
    background: url("../img/car.jpg") center/cover no-repeat;
    width: 100%;
    height: 100%;

}
/*затемнение фото*/
.picture-cover{
    box-shadow:0 0 0 999px rgba(16, 15, 15, 0.66) inset;
   /* width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(16, 15, 15, 0.66);*/
}
.picture-container{
    display: flex;
    padding: 110px 21% 0;
    justify-content: space-around;
}
/*описание рядом с формой*/
.picture__description{
    padding-right: 30px;
    color: white;
}
/*стилизация для текста*/
.region-description{
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.08em;
    text-align: left;
}
/*стилизация для текста*/
.price-description{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
/*стилизация для текста верхний регистр*/
.picture__description span{
    text-transform: uppercase;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
}
/*блок с формой*/
.picture__form{
    display: flex;
    color: white;
    padding-bottom: 74px;
}
/*форма*/
.sum-form{
    width: 400px;
    height: 464px;
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 6px;
    margin: 0;
}
/*название инпута*/
.input-name{
    padding:0 32px 10px ;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0;
}
/*заголовок формы*/
.form-header{
    padding:36px 32px 46px;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
/*текст нижней части формы*/
.form-agreement{
    color: #FFFFFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;

}
.header-button{
    padding: 14px 0 0 32px;
}
/*кнопка*/
.btn {
    background: linear-gradient(91.17deg, #EB5D56 0.01%, #390A40 100.01%);
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    height: 48px;
    width: 336px;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/*стилизация инпутов*/
.sum-form input {
    color:rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 48px;
    width: 336px;
    border-radius: 4px;
    border: none;
    margin: 0 32px 20px;
}
/*стилизация кнопки при наведении*/
.btn:hover {
    background: linear-gradient(91.17deg, #812C49 0.01%, #390A40 100.01%);
}
/*позиционирование заголовка секции*/
.section-car h2{
    padding: 110px 0 89px;
    margin: 0;
    text-align: center;
}
/*стилизация текста заголовков*/
.title__text{
    color: black;/*цвет если не сработает градиент*/
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-transform: uppercase;
    background: linear-gradient(91.17deg, #EB5D56 0.01%, #390A40 100.01%);
    -webkit-text-fill-color: transparent;/*делает текст прозрачным*/
    -webkit-background-clip: text;/*градиент только в текстк*/
}
/*блок с видом авто*/
.cars__model{
    padding: 0 13% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
    margin-bottom: 80px;
}
.cars__model a{
    text-decoration: none;
}
/*описание видов авто*/
.model__text{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    color:rgba(79, 79, 79, 1);
}
/*линия под фото авто*/
hr {
    margin-top: 43px;
    width: 200px;
    height: 2px;
    background: linear-gradient(89.72deg, rgba(235, 93, 86, 0) 0.24%, #EB5D56 28.23%, #390A40 73.32%, rgba(57, 10, 64, 0) 99.24%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border: none;
}
.conditions{
    position: relative;
    display:flex;
    padding: 0 17% 0 0;
}
/*позиционирование картинки*/
.condition__picture{
    width: 60%;
    padding-right: 109px;
}
.condition__picture img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
/*позиционирование блока с загловком*/
.condition__title{
    margin: 20px 0 50px 0;
    width: 100%;
}
/*позиционирование текста*/
.condition__title h3{
    margin-bottom: 0;
    text-align: left;
}
/*параметры блока "стол"*/
.condition__table{
    justify-content: center;
    padding-bottom: 38px ;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
/*позиционирование item*/
.table__item{
    width: 40%;
}
.table__item:nth-child(odd){
    padding-left: 85px;
}
/*заголовок item*/
.table__item-title{
    margin: 20px 0 14px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(79, 79, 79, 1);
}
/*текст item*/
.table__item-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(79, 79, 79, 1);
}
/**/
.footer__form-title h6{
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    margin: 78px 0 12px 0;
}
.footer__form-subtitle{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(189, 189, 189, 1);
}
.footer-picture{
    overflow: hidden;
    position: relative;
    background: url("../img/mazda.jpg") center/cover no-repeat;
    width: 100%;
    height: 100%;
}
.footer__form p{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}
.footer__form{
    margin: 0 47px 0 0;
}
.footer__form-main{
    display: flex;
    color: white;
}
.footer-input{
    font-size:16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 48px;
    width: 336px;
    border-radius: 4px;
    border: none;
}
.add-photo{
    padding-top: 26px;
}
.add-photo a{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.footer-button{
    padding:34px 0 0 0 ;
}
.feedback__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 48px 0 30px;
}
.footer__feedback {
    padding:0 15% 0;
}
.feedback-logo{
    padding: 0 30px ;
}
.copyright a, .copyright p {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(130, 130, 130, 1);
}
.mail p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(79, 79, 79, 1);
}
/*переопределеие стилей*/
@media (max-width: 1440px) {
    .main__header{
        padding: 32px 10%;
    }
    .picture-container{
        padding: 110px 10% 0;
    }
    .container{
        padding: 0 15% 0;
    }
}
@media (max-width: 1260px) {
    .main__header{
        padding: 32px 5%;
    }
    .condition__picture{
        display: none;
    }
    .conditions{
        padding: 0 15%;
    }
    .condition__table{
        width: 100%;
    }
    .condition__title h3{
        text-align: center;
    }
    .header__menu{
        display: none;
    }
    .container{
        padding: 0 10% 0;
    }
}
/* Large desktops and laptops */
@media (max-width: 940px) {
    .footer__form-main{
        flex-direction: column;
        align-items: center;
    }
    .footer__form{
        margin: 0;
    }
    .send-button{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .footer__form-title h6,
    .footer__form-title p{
        text-align: center;
    }
    .picture-container{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 606px){
    .feedback__container{
        flex-direction: column;
        align-items: center;
    }
    .feedback-logo{
        padding: 30px 0 ;
    }
    .copyright:nth-child(n){
        text-align: center;
    }
    .condition__table{
        flex-direction: column;
        align-items: center;
    }
    .table__item{
        width: 100%;
    }
    .table__item:nth-child(odd) {
        padding:0;
    }
    picture__form{
        justify-content: center;
    }
}@media (max-width: 420px){
    .picture__form{
        justify-content: center;
    }
    .main__header{
        flex-direction: column;
    }
    .sum-form{
        width: 85%;
        height: 100%;
    }
    .sum-form form{
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .sum-form input{
        width:65%;
        font-size: 12px;
    }
    .btn{
        width: 67%;
    }
    .form-agreement{
        margin: 15px;
    }
    .header-button{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .footer-input{
        width: 100%;
        font-size: 12px;
    }
    .footer-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .cars__model img{
        width: 100%;
    }
    .picture__description span{
        font-size: 30px;
    }
    .title__text{
        font-size: 20px;
    }

}



